.group-1437255948,
.group-1437255948 * {
  box-sizing: border-box;
}

.group-1437255948 {
  height: 2233px;
  position: relative;
}

._3-d {
  background: #ffffff;
  width: 390px;
  height: 2233px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.image-154 {
  width: 390px;
  height: 245px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}

.group-33849 {
  position: absolute;
  inset: 0;
}

.group-33848 {
  width: 390px;
  height: 2171px;
  position: static;
}

.frame-4545 {
  width: 375px;
  height: 20px;
  position: absolute;
  left: 7px;
  top: 62px;
  overflow: hidden;
}

.h-3-heading-title-in-two-lines {
  color: #ffffff;
  text-align: center;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 87px;
  top: 116px;
  width: 201px;
  height: 35px;
}

.group-1437256037 {
  width: 102px;
  height: 30px;
  position: static;
}

.h-3-heading-title-in-two-lines2 {
  color: var(--primary, #545f71);
  text-align: left;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 137px;
  top: 300px;
}

.group-33713 {
  width: 260px;
  height: 617px;
  position: static;
}

.group-33722 {
  width: 260px;
  height: 617px;
  position: static;
}

.group-33723 {
  width: 260px;
  height: 617px;
  position: static;
}

.group-1437256032 {
  width: 260px;
  height: 617px;
  position: static;
}

.rectangle-8958 {
  background: #fdfcfa;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 260px;
  height: 285px;
  position: absolute;
  left: 65px;
  top: 1309px;
}

.mes-poo {
  color: #262626;
  text-align: center;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 79.3px;
  top: 1447.43px;
  width: 231.66px;
  height: 17.77px;
}

.div {
  color: #606060;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 15px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 71.5px;
  top: 1485.7px;
  width: 247px;
  height: 64.33px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ellipse-1441 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 154px;
  top: 1338px;
}

.free-icon-system-update-4391443-1 {
  border-radius: 10px;
  width: 64px;
  height: 64px;
  position: absolute;
  left: 162px;
  top: 1346px;
  object-fit: cover;
}

.rectangle-89582 {
  background: #fdfcfa;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 260px;
  height: 285px;
  position: absolute;
  left: 65px;
  top: 1641px;
}

.mes-poo2 {
  color: #262626;
  text-align: center;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 79.3px;
  top: 1779.43px;
  width: 231.66px;
  height: 17.77px;
}

.div2 {
  color: #606060;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 15px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 71.5px;
  top: 1817.7px;
  width: 247px;
  height: 64.33px;
}

.ellipse-14412 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 154px;
  top: 1666px;
}

.free-icon-system-update-4391443-12 {
  border-radius: 10px;
  width: 64px;
  height: 64px;
  position: absolute;
  left: 162px;
  top: 1674px;
  object-fit: cover;
}

.group-33799 {
  width: 390px;
  height: 234px;
  position: static;
}

.rectangle-8976 {
  width: 390px;
  height: 234px;
  position: absolute;
  left: 0px;
  top: 1999px;
  overflow: visible;
}

.most-fonts-have-a-particular-weight-which-corresponds-to-one-of-the-numbers-in-common-weight-name-mapping-however-some-fonts-called-variable-fonts-can-support-a-range-of-weights-with-a-more-or-less-fine-granularity-and-this-can-give-the-designer-a-much-closer-degree-of-control-over-the-chosen-weight {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: absolute;
  left: 28.14px;
  top: 2057px;
  width: 332.71px;
  height: 146px;
}

.h-3-heading-title-in-two-lines3 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 28px;
  top: 2020px;
  width: 126px;
}

.group-33703 {
  position: absolute;
  inset: 0;
}

.group-33704 {
  width: 172px;
  height: 30px;
  position: static;
}

.h-3-heading-title-in-two-lines4 {
  color: var(--primary, #545f71);
  text-align: center;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 102px;
  top: 1049px;
  width: 172px;
}

.group-338482 {
  width: 319px;
  height: 81px;
  position: static;
}

.most-fonts-have-a-particular-weight-which-corresponds-to-one-of-the-numbers-in-common-weight-name-mapping-however-some-fonts-called-variable-fonts-can-support-a-range-of-weights-with-a-more-or-less-fine-granularity-and-this-can-give-the-designer-a-much-closer-degree-of-control-over-the-chosen-weight2 {
  color: #ffffff;
  text-align: center;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  left: 28px;
  top: 151px;
  width: 319px;
  height: 81px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.group-1437256036 {
  position: absolute;
  inset: 0;
}

.group-1783 {
  width: 260px;
  height: 283px;
  position: static;
}

.rectangle-8972 {
  background: #d9d9d9;
  border-radius: 10px;
  width: 260px;
  height: 283px;
  position: absolute;
  left: 65px;
  top: 360px;
}

.ellipse-1437 {
  background: #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 176px;
  top: 392px;
}

.vector-70 {
  border-radius: 0px;
  width: 71.37px;
  height: 73.44px;
  position: absolute;
  left: 156.81px;
  top: 378.57px;
  overflow: visible;
}

.div3 {
  color: #000000;
  text-align: center;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 78.56px;
  top: 579.1px;
  width: 232.87px;
  height: 29.67px;
}

.div4 {
  color: #000000;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 164px;
  top: 456px;
  width: 53.79px;
  height: 14.97px;
}

.line-36 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-width: 1px 0 0 0;
  width: 260px;
  height: 0px;
  position: absolute;
  left: 65px;
  top: 499.72px;
}

.ellipse-1438 {
  background: #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 175.58px;
  top: 485.46px;
}

._1 {
  color: #000000;
  text-align: center;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  left: 188px;
  top: 490px;
  width: 5.98px;
  height: 14.26px;
}

.div5 {
  color: #000000;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 92px;
  top: 537px;
  width: 200px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rectangle-8971 {
  background: rgba(217, 217, 217, 0);
  border-radius: 15px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 233.1px;
  height: 29.23px;
  position: absolute;
  left: 78.95px;
  top: 531.8px;
}

.rectangle-89722 {
  background: #d9d9d9;
  border-radius: 10px;
  width: 260px;
  height: 285px;
  position: absolute;
  left: 65px;
  top: 690px;
}

.ellipse-14372 {
  background: #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 28.72px;
  position: absolute;
  left: 175.57px;
  top: 722.3px;
}

.vector-702 {
  border-radius: 0px;
  width: 71.37px;
  height: 73.44px;
  position: absolute;
  left: 156.81px;
  top: 705.57px;
  overflow: visible;
}

.div6 {
  color: #000000;
  text-align: center;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 78.56px;
  top: 910.64px;
  width: 232.87px;
  height: 29.88px;
}

.div7 {
  color: #000000;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 164px;
  top: 785.32px;
  width: 53.79px;
  height: 15.08px;
}

.line-362 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-width: 1px 0 0 0;
  width: 260px;
  height: 0px;
  position: absolute;
  left: 65px;
  top: 830.71px;
}

.ellipse-14382 {
  background: #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 175.58px;
  top: 816.35px;
}

._2 {
  color: #000000;
  text-align: center;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  left: 188px;
  top: 822px;
  width: 5.98px;
  height: 14.36px;
}

.div8 {
  color: #000000;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 92px;
  top: 869px;
  width: 200px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rectangle-89712 {
  background: rgba(217, 217, 217, 0);
  border-radius: 15px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 233.1px;
  height: 29.43px;
  position: absolute;
  left: 78.95px;
  top: 863.01px;
}

.line-37 {
  margin-top: -10px;
  border-style: solid;
  border-color: #000000;
  border-width: 10px 0 0 0;
  width: 47px;
  height: 0px;
  position: absolute;
  left: 201px;
  top: 690px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}

.frame-1437256019 {
  width: 390px;
  height: 33px;
  position: absolute;
  left: calc(50% - 195px);
  top: 0px;
  overflow: hidden;
}

.group-1771 {
  position: absolute;
  inset: 0;
}

.h-3-heading-title-in-two-lines5 {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 10px;
  top: 6px;
  width: 88px;
  height: 30px;
}

.menu {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 340px;
  top: 9px;
  overflow: visible;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1000;
  background-color: transparent;
  /* 기본 배경색을 투명으로 설정 */
  transition: ba-color 0.3s ease;
  /* 배경색 전환 효과 */
}

header:hover,
nav ul li:hover~header {
  background-color: white;
  /* 헤더 배경색을 흰색으로 변경 */
}

header:hover a,
header:hover nav ul .dropdown a,
/* 드롭다운 a 태그도 검은색으로 변경 */
header:hover .logo,
nav ul li:hover~header a,
nav ul li:hover~header nav ul .dropdown a,
nav ul li:hover~header .logo {
  color: black;
  /* 헤더에 마우스를 올렸을 때 모든 a 태그의 폰트 색상을 검은색으로 변경 */
}


.logo {
  font-family: 'Pretendard';
  position: absolute;
  left: 0;
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin-left: 3rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin-right: 10px;
}

nav ul .dropdown {
  margin-left: 4rem;
}

.dropdown:hover header {
  background-color: #fff;
  /* 헤더 배경색 흰색으로 변경 */
}

.nodropdown {
  margin-left: 4rem;
}

.nodropdown a {
  font-family: 'Pretendard';
  color: white;
  text-decoration: none;
  font-weight: 600;
}

nav ul .dropdown a {
  font-family: 'pretendard';
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

nav .dropdown .submenu-company-introduction {
  display: none;
  position: absolute;
  top: 40px;
  transform: translateX(-33%);
  text-align: center;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px 0;
  white-space: nowrap;
  width: 10rem;
}

.dropdown:hover .submenu-company-introduction {
  display: block;
}

.submenu-company-introduction li {
  width: 100%;
}

.submenu-company-introduction li a {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  transition: background 0.3s;
}

.dropdown .submenu-carcare-service {
  display: none;
  position: absolute;
  top: 40px;
  transform: translateX(-24%);
  text-align: center;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px 0;
  white-space: nowrap;
  width: 10rem;
}

.dropdown:hover .submenu-carcare-service {
  display: block;
}

.submenu-carcare-service li {
  width: 100%;
}

.submenu-carcare-service li a {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  transition: background 0.3s;
}

.dropdown .submenu-product-service {
  display: none;
  position: absolute;
  top: 40px;
  transform: translateX(-28%);
  text-align: center;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px 0;
  white-space: nowrap;
  width: 10rem;
}

.dropdown:hover .submenu-product-service {
  display: block;
}

.submenu-product-service li {
  width: 100%;
}

.submenu-product-service li a {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  transition: background 0.3s;
}

.dropdown .submenu-language {
  display: none;
  position: absolute;
  top: 40px;
  transform: translateX(-27%);
  text-align: center;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px 0;
  white-space: nowrap;
}

.dropdown:hover .submenu-language {
  display: block;
}

.submenu-language li {
  width: 100%;
}

.submenu-language li a {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  transition: background 0.3s;
}

header nav ul .submenu-company-introduction li a,
header nav ul .submenu-carcare-service li a,
header nav ul .submenu-product-service li a,
header nav ul .submenu-language li a {
  color: #333;
  /* 드롭다운 링크 색상 */
}

header nav ul .submenu-company-introduction li a:hover,
header nav ul .submenu-carcare-service li a:hover,
header nav ul .submenu-product-service li a:hover,
header nav ul .submenu-language li a:hover {
  color: #007BFF;
  /* 드롭다운 링크 호버 색상 변경 */
}

.hamburger {
  display: none;
  /* 기본 상태에서는 숨김 */
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1001;
}

/* 스크롤 시 헤더 스타일 (배경색 흰색) */
.header.scrolled {
  background-color: white;
  /* 스크롤 시 배경색 흰색 */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* 살짝 그림자 */
  color: black;
  /* 로고 및 텍스트 색상 */
}

/* 스크롤된 상태에서 링크 색상 변경 */
.header.scrolled nav ul li a {
  color: black;
  /* 스크롤 후 텍스트 색상 변경 */
}

/* 반응형 스타일 추가 */
@media (max-width: 1300px) {
  .logo {
    margin-left: 20px;
  }

  nav ul {
    margin-right: 20px;
  }

  nav ul .dropdown {
    margin-left: 20px;
    white-space: nowrap;
  }

  .nodropdown {
    margin-left: 20px;
    white-space: nowrap;
  }

  .hero-text h1 {
    font-size: 36px;
  }

  .hero-text p {
    font-size: 16px;
  }

}

@media (max-width: 850px) {

  html,
  body {
    overflow-x: hidden;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: centers;
    padding: 10px;
  }

  .logo {
    top: 10px;
    margin-left: 20px;
  }

  nav ul {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;

    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 1rem;
    margin-left: 0.5rem;
  }

  nav ul li {
    margin-left: 0;
    margin-top: 1rem;
  }

  .hamburger {
    display: block;
  }

  header:hover nav ul {
    display: flex;
    /* 메뉴를 보이게 하면서 Flexbox로 정렬 */
  }

  .hero {
    height: 80vh;
  }

  .hero-text h1 {
    font-size: 28px;
  }

  .hero-text p {
    font-size: 14px;
  }
}

a:visited {
  color: inherit;
  /* 원하는 색상으로 지정하거나, 기존 색상을 유지하려면 inherit 사용 */
  text-decoration: none;
  /* 링크가 변하지 않도록 텍스트 장식도 없앰 */
}