:root {
    --wwwdadolcorpcomcocoa-brown: rgba(35, 25, 22, 1);
    --wwwdadolcorpcomemperor: rgba(79, 74, 78, 1);
    --wwwdadolcorpcomgallery: rgba(240, 240, 240, 1);
    --ypercokrblack-12: rgba(0, 0, 0, 0.12);
    --ypercokrsilver: rgba(189, 189, 189, 1);
    --wwwthecarmeleoncomcinnabar: rgba(237, 78, 68, 1);
    --wwwigotchacokrblack: rgba(0, 0, 0, 1);
    --wwwigotchacokrdove-gray: rgba(102, 102, 102, 1);
    --carwashlovecombig-stone: rgba(15, 26, 42, 1);
    --carwashlovecomblue-bayoux-20: rgba(82, 102, 124, 0.2);
    --carwashlovecomsea-green: rgba(49, 165, 82, 1);
    --carwashlovecomwhite-40: rgba(255, 255, 255, 0.4);
    --carwashlovecomwhite-60: rgba(255, 255, 255, 0.6);
    --openmilecokrwhite-10: rgba(255, 255, 255, 0.1);
    --www-dadolcorp-com-noto-sans-KR-thin-10-font-family: "Noto Sans KR", Helvetica;
    --www-dadolcorp-com-noto-sans-KR-thin-10-font-weight: 100;
    --www-dadolcorp-com-noto-sans-KR-thin-10-font-size: 10px;
    --www-dadolcorp-com-noto-sans-KR-thin-10-letter-spacing: 0px;
    --www-dadolcorp-com-noto-sans-KR-thin-10-line-height: normal;
    --www-dadolcorp-com-noto-sans-KR-thin-10-font-style: normal;
    --www-dadolcorp-com-noto-sans-KR-thin-11-font-family: "Noto Sans KR", Helvetica;
    --www-dadolcorp-com-noto-sans-KR-thin-11-font-weight: 100;
    --www-dadolcorp-com-noto-sans-KR-thin-11-font-size: 11px;
    --www-dadolcorp-com-noto-sans-KR-thin-11-letter-spacing: 0px;
    --www-dadolcorp-com-noto-sans-KR-thin-11-line-height: normal;
    --www-dadolcorp-com-noto-sans-KR-thin-11-font-style: normal;
    --www-dadolcorp-com-noto-sans-KR-thin-13-font-family: "Noto Sans KR", Helvetica;
    --www-dadolcorp-com-noto-sans-KR-thin-13-font-weight: 100;
    --www-dadolcorp-com-noto-sans-KR-thin-13-font-size: 13px;
    --www-dadolcorp-com-noto-sans-KR-thin-13-letter-spacing: 0px;
    --www-dadolcorp-com-noto-sans-KR-thin-13-line-height: normal;
    --www-dadolcorp-com-noto-sans-KR-thin-13-font-style: normal;
    --www-dadolcorp-com-noto-sans-KR-thin-18-font-family: "Noto Sans KR", Helvetica;
    --www-dadolcorp-com-noto-sans-KR-thin-18-font-weight: 100;
    --www-dadolcorp-com-noto-sans-KR-thin-18-font-size: 18px;
    --www-dadolcorp-com-noto-sans-KR-thin-18-letter-spacing: 0px;
    --www-dadolcorp-com-noto-sans-KR-thin-18-line-height: normal;
    --www-dadolcorp-com-noto-sans-KR-thin-18-font-style: normal;
    --www-dadolcorp-com-noto-sans-KR-thin-19-69-font-family: "Noto Sans KR", Helvetica;
    --www-dadolcorp-com-noto-sans-KR-thin-19-69-font-weight: 100;
    --www-dadolcorp-com-noto-sans-KR-thin-19-69-font-size: 19.6875px;
    --www-dadolcorp-com-noto-sans-KR-thin-19-69-letter-spacing: 0px;
    --www-dadolcorp-com-noto-sans-KR-thin-19-69-line-height: normal;
    --www-dadolcorp-com-noto-sans-KR-thin-19-69-font-style: normal;
    --www-dadolcorp-com-noto-sans-KR-thin-25-font-family: "Noto Sans KR", Helvetica;
    --www-dadolcorp-com-noto-sans-KR-thin-25-font-weight: 100;
    --www-dadolcorp-com-noto-sans-KR-thin-25-font-size: 25px;
    --www-dadolcorp-com-noto-sans-KR-thin-25-letter-spacing: 0px;
    --www-dadolcorp-com-noto-sans-KR-thin-25-line-height: normal;
    --www-dadolcorp-com-noto-sans-KR-thin-25-font-style: normal;
    --www-dadolcorp-com-noto-sans-KR-thin-20-font-family: "Noto Sans KR", Helvetica;
    --www-dadolcorp-com-noto-sans-KR-thin-20-font-weight: 100;
    --www-dadolcorp-com-noto-sans-KR-thin-20-font-size: 20px;
    --www-dadolcorp-com-noto-sans-KR-thin-20-letter-spacing: 0px;
    --www-dadolcorp-com-noto-sans-KR-thin-20-line-height: normal;
    --www-dadolcorp-com-noto-sans-KR-thin-20-font-style: normal;
    --www-dadolcorp-com-noto-sans-KR-thin-60-font-family: "Noto Sans KR", Helvetica;
    --www-dadolcorp-com-noto-sans-KR-thin-60-font-weight: 100;
    --www-dadolcorp-com-noto-sans-KR-thin-60-font-size: 60px;
    --www-dadolcorp-com-noto-sans-KR-thin-60-letter-spacing: 0px;
    --www-dadolcorp-com-noto-sans-KR-thin-60-line-height: normal;
    --www-dadolcorp-com-noto-sans-KR-thin-60-font-style: normal;
    --www-dadolcorp-com-semantic-item-font-family: "Noto Sans KR", Helvetica;
    --www-dadolcorp-com-semantic-item-font-weight: 100;
    --www-dadolcorp-com-semantic-item-font-size: 14px;
    --www-dadolcorp-com-semantic-item-letter-spacing: 0px;
    --www-dadolcorp-com-semantic-item-line-height: 42px;
    --www-dadolcorp-com-semantic-item-font-style: normal;
    --yper-co-kr-semantic-button-font-family: "Noto Sans KR", Helvetica;
    --yper-co-kr-semantic-button-font-weight: 100;
    --yper-co-kr-semantic-button-font-size: 16px;
    --yper-co-kr-semantic-button-letter-spacing: -0.800000011920929px;
    --yper-co-kr-semantic-button-line-height: normal;
    --yper-co-kr-semantic-button-font-style: normal;
    --yper-co-kr-semantic-heading-3-font-family: "Noto Sans KR", Helvetica;
    --yper-co-kr-semantic-heading-3-font-weight: 100;
    --yper-co-kr-semantic-heading-3-font-size: 44px;
    --yper-co-kr-semantic-heading-3-letter-spacing: -0.800000011920929px;
    --yper-co-kr-semantic-heading-3-line-height: 52.79999923706055px;
    --yper-co-kr-semantic-heading-3-font-style: normal;
    --yper-co-kr-semantic-heading-4-font-family: "Noto Sans KR", Helvetica;
    --yper-co-kr-semantic-heading-4-font-weight: 100;
    --yper-co-kr-semantic-heading-4-font-size: 24px;
    --yper-co-kr-semantic-heading-4-letter-spacing: -0.800000011920929px;
    --yper-co-kr-semantic-heading-4-line-height: 36px;
    --yper-co-kr-semantic-heading-4-font-style: normal;
    --yper-co-kr-semantic-link-font-family: "Noto Sans KR", Helvetica;
    --yper-co-kr-semantic-link-font-weight: 100;
    --yper-co-kr-semantic-link-font-size: 16px;
    --yper-co-kr-semantic-link-letter-spacing: 0px;
    --yper-co-kr-semantic-link-line-height: normal;
    --yper-co-kr-semantic-link-font-style: normal;
    --yper-co-kr-inter-regular-22-font-family: "Inter", Helvetica;
    --yper-co-kr-inter-regular-22-font-weight: 400;
    --yper-co-kr-inter-regular-22-font-size: 22px;
    --yper-co-kr-inter-regular-22-letter-spacing: 0px;
    --yper-co-kr-inter-regular-22-line-height: 44px;
    --yper-co-kr-inter-regular-22-font-style: normal;
    --yper-co-kr-noto-sans-KR-thin-16-font-family: "Noto Sans KR", Helvetica;
    --yper-co-kr-noto-sans-KR-thin-16-font-weight: 100;
    --yper-co-kr-noto-sans-KR-thin-16-font-size: 16px;
    --yper-co-kr-noto-sans-KR-thin-16-letter-spacing: -0.800000011920929px;
    --yper-co-kr-noto-sans-KR-thin-16-line-height: 19.200000762939453px;
    --yper-co-kr-noto-sans-KR-thin-16-font-style: normal;
    --yper-co-kr-noto-sans-KR-thin-18-font-family: "Noto Sans KR", Helvetica;
    --yper-co-kr-noto-sans-KR-thin-18-font-weight: 100;
    --yper-co-kr-noto-sans-KR-thin-18-font-size: 18px;
    --yper-co-kr-noto-sans-KR-thin-18-letter-spacing: -0.800000011920929px;
    --yper-co-kr-noto-sans-KR-thin-18-line-height: 27px;
    --yper-co-kr-noto-sans-KR-thin-18-font-style: normal;
    --yper-co-kr-noto-sans-KR-thin-22-font-family: "Noto Sans KR", Helvetica;
    --yper-co-kr-noto-sans-KR-thin-22-font-weight: 100;
    --yper-co-kr-noto-sans-KR-thin-22-font-size: 22px;
    --yper-co-kr-noto-sans-KR-thin-22-letter-spacing: -0.800000011920929px;
    --yper-co-kr-noto-sans-KR-thin-22-line-height: 28px;
    --yper-co-kr-noto-sans-KR-thin-22-font-style: normal;
    --yper-co-kr-noto-sans-KR-thin-24-font-family: "Noto Sans KR", Helvetica;
    --yper-co-kr-noto-sans-KR-thin-24-font-weight: 100;
    --yper-co-kr-noto-sans-KR-thin-24-font-size: 24px;
    --yper-co-kr-noto-sans-KR-thin-24-letter-spacing: -0.800000011920929px;
    --yper-co-kr-noto-sans-KR-thin-24-line-height: 36px;
    --yper-co-kr-noto-sans-KR-thin-24-font-style: normal;
    --yper-co-kr-noto-sans-KR-thin-44-font-family: "Noto Sans KR", Helvetica;
    --yper-co-kr-noto-sans-KR-thin-44-font-weight: 100;
    --yper-co-kr-noto-sans-KR-thin-44-font-size: 44px;
    --yper-co-kr-noto-sans-KR-thin-44-letter-spacing: -0.800000011920929px;
    --yper-co-kr-noto-sans-KR-thin-44-line-height: 66px;
    --yper-co-kr-noto-sans-KR-thin-44-font-style: normal;
    --yper-co-kr-noto-sans-KR-thin-15-75-upper-font-family: "Noto Sans KR", Helvetica;
    --yper-co-kr-noto-sans-KR-thin-15-75-upper-font-weight: 100;
    --yper-co-kr-noto-sans-KR-thin-15-75-upper-font-size: 15.75px;
    --yper-co-kr-noto-sans-KR-thin-15-75-upper-letter-spacing: -0.800000011920929px;
    --yper-co-kr-noto-sans-KR-thin-15-75-upper-line-height: normal;
    --yper-co-kr-noto-sans-KR-thin-15-75-upper-font-style: normal;
    --yper-co-kr-noto-sans-KR-thin-13-font-family: "Noto Sans KR", Helvetica;
    --yper-co-kr-noto-sans-KR-thin-13-font-weight: 100;
    --yper-co-kr-noto-sans-KR-thin-13-font-size: 13px;
    --yper-co-kr-noto-sans-KR-thin-13-letter-spacing: 0px;
    --yper-co-kr-noto-sans-KR-thin-13-line-height: 15.600000381469727px;
    --yper-co-kr-noto-sans-KR-thin-13-font-style: normal;
    --yper-co-kr-noto-sans-KR-thin-14-font-family: "Noto Sans KR", Helvetica;
    --yper-co-kr-noto-sans-KR-thin-14-font-weight: 100;
    --yper-co-kr-noto-sans-KR-thin-14-font-size: 14px;
    --yper-co-kr-noto-sans-KR-thin-14-letter-spacing: -0.800000011920929px;
    --yper-co-kr-noto-sans-KR-thin-14-line-height: 21px;
    --yper-co-kr-noto-sans-KR-thin-14-font-style: normal;
    --www-thecarmeleon-com-semantic-button-font-family: "Arial", Helvetica;
    --www-thecarmeleon-com-semantic-button-font-weight: 400;
    --www-thecarmeleon-com-semantic-button-font-size: 18px;
    --www-thecarmeleon-com-semantic-button-letter-spacing: 0px;
    --www-thecarmeleon-com-semantic-button-line-height: normal;
    --www-thecarmeleon-com-semantic-button-font-style: normal;
    --www-thecarmeleon-com-semantic-item-font-family: "Noto Sans KR", Helvetica;
    --www-thecarmeleon-com-semantic-item-font-weight: 300;
    --www-thecarmeleon-com-semantic-item-font-size: 22.5px;
    --www-thecarmeleon-com-semantic-item-letter-spacing: 0px;
    --www-thecarmeleon-com-semantic-item-line-height: normal;
    --www-thecarmeleon-com-semantic-item-font-style: normal;
    --www-thecarmeleon-com-semantic-strikethrough-font-family: "Noto Sans KR", Helvetica;
    --www-thecarmeleon-com-semantic-strikethrough-font-weight: 700;
    --www-thecarmeleon-com-semantic-strikethrough-font-size: 22.5px;
    --www-thecarmeleon-com-semantic-strikethrough-letter-spacing: 0px;
    --www-thecarmeleon-com-semantic-strikethrough-line-height: 65px;
    --www-thecarmeleon-com-semantic-strikethrough-font-style: normal;
    --www-thecarmeleon-com-semantic-subscript-font-family: "Noto Sans KR", Helvetica;
    --www-thecarmeleon-com-semantic-subscript-font-weight: 300;
    --www-thecarmeleon-com-semantic-subscript-font-size: 18.150001525878906px;
    --www-thecarmeleon-com-semantic-subscript-letter-spacing: 0px;
    --www-thecarmeleon-com-semantic-subscript-line-height: 32px;
    --www-thecarmeleon-com-semantic-subscript-font-style: normal;
    --www-thecarmeleon-com-semantic-summary-font-family: "Noto Sans KR", Helvetica;
    --www-thecarmeleon-com-semantic-summary-font-weight: 300;
    --www-thecarmeleon-com-semantic-summary-font-size: 33.275001525878906px;
    --www-thecarmeleon-com-semantic-summary-letter-spacing: 0px;
    --www-thecarmeleon-com-semantic-summary-line-height: 52.79999923706055px;
    --www-thecarmeleon-com-semantic-summary-font-style: normal;
    --www-thecarmeleon-com-noto-sans-KR-demilight-11-25-font-family: "Noto Sans KR", Helvetica;
    --www-thecarmeleon-com-noto-sans-KR-demilight-11-25-font-weight: 300;
    --www-thecarmeleon-com-noto-sans-KR-demilight-11-25-font-size: 11.25px;
    --www-thecarmeleon-com-noto-sans-KR-demilight-11-25-letter-spacing: 0px;
    --www-thecarmeleon-com-noto-sans-KR-demilight-11-25-line-height: normal;
    --www-thecarmeleon-com-noto-sans-KR-demilight-11-25-font-style: normal;
    --www-thecarmeleon-com-noto-sans-KR-demilight-12-19-font-family: "Noto Sans KR", Helvetica;
    --www-thecarmeleon-com-noto-sans-KR-demilight-12-19-font-weight: 300;
    --www-thecarmeleon-com-noto-sans-KR-demilight-12-19-font-size: 12.1875px;
    --www-thecarmeleon-com-noto-sans-KR-demilight-12-19-letter-spacing: 0px;
    --www-thecarmeleon-com-noto-sans-KR-demilight-12-19-line-height: normal;
    --www-thecarmeleon-com-noto-sans-KR-demilight-12-19-font-style: normal;
    --www-thecarmeleon-com-noto-sans-KR-demilight-12-29-font-family: "Noto Sans KR", Helvetica;
    --www-thecarmeleon-com-noto-sans-KR-demilight-12-29-font-weight: 300;
    --www-thecarmeleon-com-noto-sans-KR-demilight-12-29-font-size: 12.2890625px;
    --www-thecarmeleon-com-noto-sans-KR-demilight-12-29-letter-spacing: 0px;
    --www-thecarmeleon-com-noto-sans-KR-demilight-12-29-line-height: normal;
    --www-thecarmeleon-com-noto-sans-KR-demilight-12-29-font-style: normal;
    --www-thecarmeleon-com-noto-sans-KR-demilight-12-49-font-family: "Noto Sans KR", Helvetica;
    --www-thecarmeleon-com-noto-sans-KR-demilight-12-49-font-weight: 300;
    --www-thecarmeleon-com-noto-sans-KR-demilight-12-49-font-size: 12.4921875px;
    --www-thecarmeleon-com-noto-sans-KR-demilight-12-49-letter-spacing: 0px;
    --www-thecarmeleon-com-noto-sans-KR-demilight-12-49-line-height: normal;
    --www-thecarmeleon-com-noto-sans-KR-demilight-12-49-font-style: normal;
    --www-thecarmeleon-com-noto-sans-KR-demilight-12-7-font-family: "Noto Sans KR", Helvetica;
    --www-thecarmeleon-com-noto-sans-KR-demilight-12-7-font-weight: 300;
    --www-thecarmeleon-com-noto-sans-KR-demilight-12-7-font-size: 12.6953125px;
    --www-thecarmeleon-com-noto-sans-KR-demilight-12-7-letter-spacing: 0px;
    --www-thecarmeleon-com-noto-sans-KR-demilight-12-7-line-height: normal;
    --www-thecarmeleon-com-noto-sans-KR-demilight-12-7-font-style: normal;
    --www-thecarmeleon-com-noto-sans-KR-demilight-13-5-font-family: "Noto Sans KR", Helvetica;
    --www-thecarmeleon-com-noto-sans-KR-demilight-13-5-font-weight: 300;
    --www-thecarmeleon-com-noto-sans-KR-demilight-13-5-font-size: 13.5px;
    --www-thecarmeleon-com-noto-sans-KR-demilight-13-5-letter-spacing: 0px;
    --www-thecarmeleon-com-noto-sans-KR-demilight-13-5-line-height: normal;
    --www-thecarmeleon-com-noto-sans-KR-demilight-13-5-font-style: normal;
    --www-thecarmeleon-com-noto-sans-KR-demilight-8-44-font-family: "Noto Sans KR", Helvetica;
    --www-thecarmeleon-com-noto-sans-KR-demilight-8-44-font-weight: 300;
    --www-thecarmeleon-com-noto-sans-KR-demilight-8-44-font-size: 8.4375px;
    --www-thecarmeleon-com-noto-sans-KR-demilight-8-44-letter-spacing: 0px;
    --www-thecarmeleon-com-noto-sans-KR-demilight-8-44-line-height: normal;
    --www-thecarmeleon-com-noto-sans-KR-demilight-8-44-font-style: normal;
    --www-thecarmeleon-com-noto-sans-KR-bold-18-15-font-family: "Noto Sans KR", Helvetica;
    --www-thecarmeleon-com-noto-sans-KR-bold-18-15-font-weight: 700;
    --www-thecarmeleon-com-noto-sans-KR-bold-18-15-font-size: 18.150001525878906px;
    --www-thecarmeleon-com-noto-sans-KR-bold-18-15-letter-spacing: 0px;
    --www-thecarmeleon-com-noto-sans-KR-bold-18-15-line-height: normal;
    --www-thecarmeleon-com-noto-sans-KR-bold-18-15-font-style: normal;
    --www-igotcha-co-kr-semantic-heading-2-font-family: "Noto Sans KR", Helvetica;
    --www-igotcha-co-kr-semantic-heading-2-font-weight: 100;
    --www-igotcha-co-kr-semantic-heading-2-font-size: 20px;
    --www-igotcha-co-kr-semantic-heading-2-letter-spacing: 0px;
    --www-igotcha-co-kr-semantic-heading-2-line-height: 20px;
    --www-igotcha-co-kr-semantic-heading-2-font-style: normal;
    --www-igotcha-co-kr-semantic-heading-4-font-family: "Noto Sans KR", Helvetica;
    --www-igotcha-co-kr-semantic-heading-4-font-weight: 100;
    --www-igotcha-co-kr-semantic-heading-4-font-size: 22.3125px;
    --www-igotcha-co-kr-semantic-heading-4-letter-spacing: 0px;
    --www-igotcha-co-kr-semantic-heading-4-line-height: 18px;
    --www-igotcha-co-kr-semantic-heading-4-font-style: normal;
    --www-igotcha-co-kr-semantic-item-font-family: "Noto Sans KR", Helvetica;
    --www-igotcha-co-kr-semantic-item-font-weight: 100;
    --www-igotcha-co-kr-semantic-item-font-size: 18px;
    --www-igotcha-co-kr-semantic-item-letter-spacing: 0px;
    --www-igotcha-co-kr-semantic-item-line-height: 27px;
    --www-igotcha-co-kr-semantic-item-font-style: normal;
    --www-igotcha-co-kr-semantic-link-font-family: "Noto Sans KR", Helvetica;
    --www-igotcha-co-kr-semantic-link-font-weight: 100;
    --www-igotcha-co-kr-semantic-link-font-size: 20px;
    --www-igotcha-co-kr-semantic-link-letter-spacing: 0px;
    --www-igotcha-co-kr-semantic-link-line-height: 18px;
    --www-igotcha-co-kr-semantic-link-font-style: normal;
    --www-igotcha-co-kr-semantic-options-font-family: "Noto Sans KR", Helvetica;
    --www-igotcha-co-kr-semantic-options-font-weight: 100;
    --www-igotcha-co-kr-semantic-options-font-size: 20px;
    --www-igotcha-co-kr-semantic-options-letter-spacing: 0px;
    --www-igotcha-co-kr-semantic-options-line-height: 29px;
    --www-igotcha-co-kr-semantic-options-font-style: normal;
    --www-igotcha-co-kr-semantic-strong-font-family: "Noto Sans KR", Helvetica;
    --www-igotcha-co-kr-semantic-strong-font-weight: 100;
    --www-igotcha-co-kr-semantic-strong-font-size: 17.71875px;
    --www-igotcha-co-kr-semantic-strong-letter-spacing: 0px;
    --www-igotcha-co-kr-semantic-strong-line-height: 18px;
    --www-igotcha-co-kr-semantic-strong-font-style: normal;
    --www-igotcha-co-kr-noto-sans-KR-thin-16-font-family: "Noto Sans KR", Helvetica;
    --www-igotcha-co-kr-noto-sans-KR-thin-16-font-weight: 100;
    --www-igotcha-co-kr-noto-sans-KR-thin-16-font-size: 16px;
    --www-igotcha-co-kr-noto-sans-KR-thin-16-letter-spacing: 0px;
    --www-igotcha-co-kr-noto-sans-KR-thin-16-line-height: 18px;
    --www-igotcha-co-kr-noto-sans-KR-thin-16-font-style: normal;
    --www-igotcha-co-kr-noto-sans-KR-thin-18-font-family: "Noto Sans KR", Helvetica;
    --www-igotcha-co-kr-noto-sans-KR-thin-18-font-weight: 100;
    --www-igotcha-co-kr-noto-sans-KR-thin-18-font-size: 18px;
    --www-igotcha-co-kr-noto-sans-KR-thin-18-letter-spacing: 0px;
    --www-igotcha-co-kr-noto-sans-KR-thin-18-line-height: 18px;
    --www-igotcha-co-kr-noto-sans-KR-thin-18-font-style: normal;
    --www-igotcha-co-kr-noto-sans-KR-thin-20-font-family: "Noto Sans KR", Helvetica;
    --www-igotcha-co-kr-noto-sans-KR-thin-20-font-weight: 100;
    --www-igotcha-co-kr-noto-sans-KR-thin-20-font-size: 20px;
    --www-igotcha-co-kr-noto-sans-KR-thin-20-letter-spacing: 0px;
    --www-igotcha-co-kr-noto-sans-KR-thin-20-line-height: 18px;
    --www-igotcha-co-kr-noto-sans-KR-thin-20-font-style: normal;
    --www-igotcha-co-kr-noto-sans-KR-thin-24-font-family: "Noto Sans KR", Helvetica;
    --www-igotcha-co-kr-noto-sans-KR-thin-24-font-weight: 100;
    --www-igotcha-co-kr-noto-sans-KR-thin-24-font-size: 24px;
    --www-igotcha-co-kr-noto-sans-KR-thin-24-letter-spacing: 0px;
    --www-igotcha-co-kr-noto-sans-KR-thin-24-line-height: 18px;
    --www-igotcha-co-kr-noto-sans-KR-thin-24-font-style: normal;
    --www-igotcha-co-kr-noto-sans-KR-thin-13-2-font-family: "Noto Sans KR", Helvetica;
    --www-igotcha-co-kr-noto-sans-KR-thin-13-2-font-weight: 100;
    --www-igotcha-co-kr-noto-sans-KR-thin-13-2-font-size: 13.199999809265137px;
    --www-igotcha-co-kr-noto-sans-KR-thin-13-2-letter-spacing: 0px;
    --www-igotcha-co-kr-noto-sans-KR-thin-13-2-line-height: 19.799999237060547px;
    --www-igotcha-co-kr-noto-sans-KR-thin-13-2-font-style: normal;
    --www-woowahan-com-noto-sans-KR-bold-36-font-family: "Noto Sans KR", Helvetica;
    --www-woowahan-com-noto-sans-KR-bold-36-font-weight: 700;
    --www-woowahan-com-noto-sans-KR-bold-36-font-size: 36px;
    --www-woowahan-com-noto-sans-KR-bold-36-letter-spacing: -0.4699999988079071px;
    --www-woowahan-com-noto-sans-KR-bold-36-line-height: normal;
    --www-woowahan-com-noto-sans-KR-bold-36-font-style: normal;
    --www-woowahan-com-noto-sans-KR-demilight-17-font-family: "Noto Sans KR", Helvetica;
    --www-woowahan-com-noto-sans-KR-demilight-17-font-weight: 300;
    --www-woowahan-com-noto-sans-KR-demilight-17-font-size: 17px;
    --www-woowahan-com-noto-sans-KR-demilight-17-letter-spacing: -0.4699999988079071px;
    --www-woowahan-com-noto-sans-KR-demilight-17-line-height: normal;
    --www-woowahan-com-noto-sans-KR-demilight-17-font-style: normal;
    --www-bhroovi-com-semantic-heading-1-font-family: "Poppins", Helvetica;
    --www-bhroovi-com-semantic-heading-1-font-weight: 600;
    --www-bhroovi-com-semantic-heading-1-font-size: 200px;
    --www-bhroovi-com-semantic-heading-1-letter-spacing: -4px;
    --www-bhroovi-com-semantic-heading-1-line-height: 240px;
    --www-bhroovi-com-semantic-heading-1-font-style: normal;
    --www-bhroovi-com-semantic-heading-2-font-family: "Poppins", Helvetica;
    --www-bhroovi-com-semantic-heading-2-font-weight: 600;
    --www-bhroovi-com-semantic-heading-2-font-size: 50.79999923706055px;
    --www-bhroovi-com-semantic-heading-2-letter-spacing: 0px;
    --www-bhroovi-com-semantic-heading-2-line-height: 60.91999816894531px;
    --www-bhroovi-com-semantic-heading-2-font-style: normal;
    --www-bhroovi-com-semantic-link-font-family: "Poppins", Helvetica;
    --www-bhroovi-com-semantic-link-font-weight: 600;
    --www-bhroovi-com-semantic-link-font-size: 20.299999237060547px;
    --www-bhroovi-com-semantic-link-letter-spacing: 0px;
    --www-bhroovi-com-semantic-link-line-height: 26.399999618530273px;
    --www-bhroovi-com-semantic-link-font-style: normal;
    --www-bhroovi-com-inter-regular-19-03-font-family: "Inter", Helvetica;
    --www-bhroovi-com-inter-regular-19-03-font-weight: 400;
    --www-bhroovi-com-inter-regular-19-03-font-size: 19.03125px;
    --www-bhroovi-com-inter-regular-19-03-letter-spacing: 0px;
    --www-bhroovi-com-inter-regular-19-03-line-height: 32.4900016784668px;
    --www-bhroovi-com-inter-regular-19-03-font-style: normal;
    --www-bhroovi-com-inter-regular-15-47-font-family: "Inter", Helvetica;
    --www-bhroovi-com-inter-regular-15-47-font-weight: 400;
    --www-bhroovi-com-inter-regular-15-47-font-size: 15.46875px;
    --www-bhroovi-com-inter-regular-15-47-letter-spacing: 0px;
    --www-bhroovi-com-inter-regular-15-47-line-height: normal;
    --www-bhroovi-com-inter-regular-15-47-font-style: normal;
    --carwashlove-com-semantic-button-font-family: "Segoe UI", Helvetica;
    --carwashlove-com-semantic-button-font-weight: 700;
    --carwashlove-com-semantic-button-font-size: 15px;
    --carwashlove-com-semantic-button-letter-spacing: -0.10000000149011612px;
    --carwashlove-com-semantic-button-line-height: 20px;
    --carwashlove-com-semantic-button-font-style: normal;
    --carwashlove-com-semantic-emphasis-font-family: "Pretendard", Helvetica;
    --carwashlove-com-semantic-emphasis-font-weight: 700;
    --carwashlove-com-semantic-emphasis-font-size: 24px;
    --carwashlove-com-semantic-emphasis-letter-spacing: 0px;
    --carwashlove-com-semantic-emphasis-line-height: 28.799999237060547px;
    --carwashlove-com-semantic-emphasis-font-style: normal;
    --carwashlove-com-semantic-heading-6-font-family: "Pretendard", Helvetica;
    --carwashlove-com-semantic-heading-6-font-weight: 400;
    --carwashlove-com-semantic-heading-6-font-size: 20px;
    --carwashlove-com-semantic-heading-6-letter-spacing: 0px;
    --carwashlove-com-semantic-heading-6-line-height: 24px;
    --carwashlove-com-semantic-heading-6-font-style: normal;
    --carwashlove-com-semantic-link-font-family: "Pretendard", Helvetica;
    --carwashlove-com-semantic-link-font-weight: 700;
    --carwashlove-com-semantic-link-font-size: 20px;
    --carwashlove-com-semantic-link-letter-spacing: 0px;
    --carwashlove-com-semantic-link-line-height: 28.56999969482422px;
    --carwashlove-com-semantic-link-font-style: normal;
    --carwashlove-com-semantic-strong-font-family: "Pretendard", Helvetica;
    --carwashlove-com-semantic-strong-font-weight: 700;
    --carwashlove-com-semantic-strong-font-size: 72px;
    --carwashlove-com-semantic-strong-letter-spacing: 0px;
    --carwashlove-com-semantic-strong-line-height: 79.19999694824219px;
    --carwashlove-com-semantic-strong-font-style: normal;
    --carwashlove-com-pretendard-regular-14-font-family: "Pretendard", Helvetica;
    --carwashlove-com-pretendard-regular-14-font-weight: 400;
    --carwashlove-com-pretendard-regular-14-font-size: 14px;
    --carwashlove-com-pretendard-regular-14-letter-spacing: 0px;
    --carwashlove-com-pretendard-regular-14-line-height: 25.200000762939453px;
    --carwashlove-com-pretendard-regular-14-font-style: normal;
    --carwashlove-com-pretendard-bold-14-font-family: "Pretendard", Helvetica;
    --carwashlove-com-pretendard-bold-14-font-weight: 700;
    --carwashlove-com-pretendard-bold-14-font-size: 14px;
    --carwashlove-com-pretendard-bold-14-letter-spacing: 0px;
    --carwashlove-com-pretendard-bold-14-line-height: 25.200000762939453px;
    --carwashlove-com-pretendard-bold-14-font-style: normal;
    --openmile-co-kr-pretendard-bold-40-font-family: "Pretendard", Helvetica;
    --openmile-co-kr-pretendard-bold-40-font-weight: 700;
    --openmile-co-kr-pretendard-bold-40-font-size: 40px;
    --openmile-co-kr-pretendard-bold-40-letter-spacing: -1px;
    --openmile-co-kr-pretendard-bold-40-line-height: 52px;
    --openmile-co-kr-pretendard-bold-40-font-style: normal;
    --openmile-co-kr-pretendard-regular-20-font-family: "Pretendard", Helvetica;
    --openmile-co-kr-pretendard-regular-20-font-weight: 400;
    --openmile-co-kr-pretendard-regular-20-font-size: 20px;
    --openmile-co-kr-pretendard-regular-20-letter-spacing: 0px;
    --openmile-co-kr-pretendard-regular-20-line-height: 26px;
    --openmile-co-kr-pretendard-regular-20-font-style: normal;
    --openmile-co-kr-pretendard-bold-30-font-family: "Pretendard", Helvetica;
    --openmile-co-kr-pretendard-bold-30-font-weight: 700;
    --openmile-co-kr-pretendard-bold-30-font-size: 30px;
    --openmile-co-kr-pretendard-bold-30-letter-spacing: 0px;
    --openmile-co-kr-pretendard-bold-30-line-height: 39px;
    --openmile-co-kr-pretendard-bold-30-font-style: normal;
    --openmile-co-kr-pretendard-regular-24-font-family: "Pretendard", Helvetica;
    --openmile-co-kr-pretendard-regular-24-font-weight: 400;
    --openmile-co-kr-pretendard-regular-24-font-size: 24px;
    --openmile-co-kr-pretendard-regular-24-letter-spacing: 0px;
    --openmile-co-kr-pretendard-regular-24-line-height: 38.400001525878906px;
    --openmile-co-kr-pretendard-regular-24-font-style: normal;
    --openmile-co-kr-pretendard-regular-18-font-family: "Pretendard", Helvetica;
    --openmile-co-kr-pretendard-regular-18-font-weight: 400;
    --openmile-co-kr-pretendard-regular-18-font-size: 18px;
    --openmile-co-kr-pretendard-regular-18-letter-spacing: 0px;
    --openmile-co-kr-pretendard-regular-18-line-height: 28.799999237060547px;
    --openmile-co-kr-pretendard-regular-18-font-style: normal;
    --openmile-co-kr-semantic-link-font-family: "Pretendard", Helvetica;
    --openmile-co-kr-semantic-link-font-weight: 400;
    --openmile-co-kr-semantic-link-font-size: 18.399999618530273px;
    --openmile-co-kr-semantic-link-letter-spacing: 0px;
    --openmile-co-kr-semantic-link-line-height: 23.920000076293945px;
    --openmile-co-kr-semantic-link-font-style: normal;
    --openmile-co-kr-pretendard-bold-54-font-family: "Pretendard", Helvetica;
    --openmile-co-kr-pretendard-bold-54-font-weight: 700;
    --openmile-co-kr-pretendard-bold-54-font-size: 54px;
    --openmile-co-kr-pretendard-bold-54-letter-spacing: 1px;
    --openmile-co-kr-pretendard-bold-54-line-height: 70.19999694824219px;
    --openmile-co-kr-pretendard-bold-54-font-style: normal;
    --openmile-co-kr-semantic-item-font-family: "Pretendard", Helvetica;
    --openmile-co-kr-semantic-item-font-weight: 300;
    --openmile-co-kr-semantic-item-font-size: 12px;
    --openmile-co-kr-semantic-item-letter-spacing: 0px;
    --openmile-co-kr-semantic-item-line-height: 15.600000381469727px;
    --openmile-co-kr-semantic-item-font-style: normal;
    --openmile-co-kr-semantic-strong-font-family: "Pretendard", Helvetica;
    --openmile-co-kr-semantic-strong-font-weight: 300;
    --openmile-co-kr-semantic-strong-font-size: 24px;
    --openmile-co-kr-semantic-strong-letter-spacing: 0px;
    --openmile-co-kr-semantic-strong-line-height: 31.200000762939453px;
    --openmile-co-kr-semantic-strong-font-style: normal;
  }
  