.group-1437255953,
.group-1437255953 * {
  box-sizing: border-box;
}
.group-1437255953 {
  height: 70.375rem;
  position: relative;
}
.div {
  background: #ffffff;
  width: 24.375rem;
  height: 70.375rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  overflow: hidden;
}
.frame-1437255938 {
  width: 24.375rem;
  height: 9.375rem;
  position: absolute;
  left: 0rem;
  top: 61rem;
  overflow: hidden;
}
.background {
  background: var(--color-black-solid, #000000);
  width: 24.375rem;
  height: 9.375rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
.item-2022-2199 {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 0.625rem;
  line-height: 0.925rem;
  font-weight: 400;
  opacity: 0.9;
  position: absolute;
  left: 2.1875rem;
  top: 2.3125rem;
  width: 24rem;
  height: 5.125rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 0.9375rem;
  line-height: var(--line-height-208, 1.3rem);
  font-weight: 400;
  opacity: 0.9;
  position: absolute;
  left: 2.1875rem;
  top: 1rem;
  width: 6.94125rem;
  height: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-copyright-c-openmile-co-ltd-all-rights-reserved {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 0.5rem;
  line-height: var(--line-height-156, 0.975rem);
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.5;
  position: absolute;
  left: 2.1875rem;
  top: 7.4375rem;
  width: 20.505rem;
  height: 0.975rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-33798 {
  width: 24.375rem;
  height: 11.7225rem;
  position: absolute;
  left: 0rem;
  top: 15.375rem;
  overflow: hidden;
}
.section-list {
  border-style: solid;
  border-color: var(--color-grey-93, #eaedef);
  border-width: 0rem 0rem 0.0625rem 0rem;
  padding: 0rem 0rem 1.3125rem 0rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  height: 1.6875rem;
  position: absolute;
  right: 2.6875rem;
  left: 1.0625rem;
  top: 9.0625rem;
}
.link {
  background: var(--color-grey-97, #f7f8fa);
  border-radius: 1.5625rem;
  padding: 0rem 0.9375rem 0rem 0.9375rem;
  display: flex;
  flex-direction: row;
  gap: 0.1875rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 3.625rem;
  height: 1.1875rem;
  position: relative;
}
.culture {
  text-align: center;
  font-family: "PretendardVariable-Medium", sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  position: relative;
  width: 2.875rem;
  height: 0.8125rem;
}
.culture-span {
  color: #909090;
  font-family: "PretendardVariable-Medium", sans-serif;
  font-size: 10px;
  font-weight: 500;
}
.culture-span2 {
  color: #070707;
  font-family: "PretendardVariable-Medium", sans-serif;
  font-size: 10px;
  font-weight: 500;
}
.culture2 {
  text-align: center;
  font-family: "PretendardVariable-Medium", sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  position: relative;
  width: 2.875rem;
}
.culture-2-span {
  color: #909090;
  font-family: "PretendardVariable-Medium", sans-serif;
  font-size: 10px;
  font-weight: 500;
}
.culture-2-span2 {
  color: #070707;
  font-family: "PretendardVariable-Medium", sans-serif;
  font-size: 10px;
  font-weight: 500;
}
.culture-span3 {
  color: #909090;
  font-family: "PretendardVariable-Medium", sans-serif;
  font-size: 10px;
  font-weight: 500;
}
.culture-span4 {
  color: #070707;
  font-family: "PretendardVariable-Medium", sans-serif;
  font-size: 10px;
  font-weight: 500;
}
.culture-span5 {
  color: #909090;
  font-family: "PretendardVariable-Medium", sans-serif;
  font-size: 10px;
  font-weight: 500;
}
.culture-span6 {
  color: #070707;
  font-family: "PretendardVariable-Medium", sans-serif;
  font-size: 10px;
  font-weight: 500;
}
.culture3 {
  text-align: center;
  font-family: "PretendardVariable-Medium", sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  position: relative;
  width: 2.875rem;
  height: 0.9375rem;
}
.culture-3-span {
  color: #909090;
  font-family: "PretendardVariable-Medium", sans-serif;
  font-size: 10px;
  font-weight: 500;
}
.culture-3-span2 {
  color: #070707;
  font-family: "PretendardVariable-Medium", sans-serif;
  font-size: 10px;
  font-weight: 500;
}
.div2 {
  color: #292929;
  text-align: left;
  position: absolute;
  left: 1.0625rem;
  top: 1.6875rem;
}
.div-2-span {
  color: #292929;
  font-family: "PretendardVariable-Bold", sans-serif;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.02em;
  font-weight: 700;
}
.div-2-span2 {
  color: #292929;
  font-family: "PretendardVariable-Bold", sans-serif;
  font-size: 10px;
  line-height: 25px;
  letter-spacing: -0.02em;
  font-weight: 700;
}
.frame-4544 {
  width: 24.375rem;
  height: 13.125rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  overflow: hidden;
}
.div3 {
  color: #ffffff;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 1.5625rem;
  line-height: 140%;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 12.1875rem);
  top: 6.5625rem;
  width: 24.375rem;
  height: 2.16875rem;
}
.div4 {
  color: #ffffff;
  text-align: center;
  font-family: "PretendardVariable-Regular", sans-serif;
  font-size: 0.625rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 10.483125rem);
  top: 8.989375rem;
  width: 21.07rem;
  height: 0.929375rem;
}
.frame-4545 {
  width: 24.375rem;
  height: 2.0625rem;
  position: absolute;
  left: calc(50% - 12.1875rem);
  top: 0rem;
  overflow: hidden;
}
.group-1771 {
  position: absolute;
  inset: 0;
}
.h-3-heading-title-in-two-lines {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 1.25rem;
  line-height: 1.875rem;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 0.625rem;
  top: 0.375rem;
  width: 5.5rem;
  height: 1.875rem;
}
.menu {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 21.25rem;
  top: 0.5625rem;
  overflow: visible;
}
