.b-2-b,
.b-2-b * {
  box-sizing: border-box;
}
.b-2-b {
  height: 2903px;
  position: relative;
}
.b-2-b2 {
  background: #ffffff;
  width: 100%; 
  height: 2903px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.image-141 {
  width: 100%;  
  height: 674px;
  position: absolute;
  left: 0px;
  top: 741px;
  object-fit: cover;
}
.most-fonts-have-a-particular-weight-which-corresponds-to-one-of-the-numbers-in-common-weight-name-mapping-however-some-fonts-called-variable-fonts-can-support-a-range-of-weights-with-a-more-or-less-fine-granularity-and-this-can-give-the-designer-a-much-closer-degree-of-control-over-the-chosen-weight {
  color: var(--primary, #545f71);
  text-align: center;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 14.7rem);
  top: 1670px;
  width: 490px;
}
.image-131 {
  width: 100%;
  height: 741px;
  position: absolute;
  left: -1px;
  top: 0px;
  object-fit: cover;
}
.line-31 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 24px;
  height: 0px;
  position: absolute;
  left: 848px;
  top: 673px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.most-fonts-have-a-particular-weight-which-corresponds-to-one-of-the-numbers-in-common-weight-name-mapping-however-some-fonts-called-variable-fonts-can-support-a-range-of-weights-with-a-more-or-less-fine-granularity-and-this-can-give-the-designer-a-much-closer-degree-of-control-over-the-chosen-weight2 {
  color: #ffffff;
  text-align: center;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: absolute;
  left: 896px;
  top: 673px;
  width: 96px;
}
.most-fonts-have-a-particular-weight-which-corresponds-to-one-of-the-numbers-in-common-weight-name-mapping-however-some-fonts-called-variable-fonts-can-support-a-range-of-weights-with-a-more-or-less-fine-granularity-and-this-can-give-the-designer-a-much-closer-degree-of-control-over-the-chosen-weight3 {
  color: #ffffff;
  text-align: center;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 700px;
  top: 674px;
  width: 96px;
}
.h-3-heading-title-in-two-lines {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 50px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 609px;
  top: 570px;
  width: 292px;
  height: 35px;
}
.h-3-heading-title-in-two-lines2 {
  color: var(--primary, #545f71);
  text-align: left;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 50px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 12rem);
  top: 1578px;
}
.h-3-heading-title-in-two-lines3 {
  color: #545f71;
  text-align: center;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 50px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 10rem);
  top: 1045px;
  width: 341px;
}
.most-fonts-have-a-particular-weight-which-corresponds-to-one-of-the-numbers-in-common-weight-name-mapping-however-some-fonts-called-variable-fonts-can-support-a-range-of-weights-with-a-more-or-less-fine-granularity-and-this-can-give-the-designer-a-much-closer-degree-of-control-over-the-chosen-weight4 {
  color: #ffffff;
  text-align: center;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: absolute;
  left: 452px;
  top: 672px;
  width: 144px;
}
.most-fonts-have-a-particular-weight-which-corresponds-to-one-of-the-numbers-in-common-weight-name-mapping-however-some-fonts-called-variable-fonts-can-support-a-range-of-weights-with-a-more-or-less-fine-granularity-and-this-can-give-the-designer-a-much-closer-degree-of-control-over-the-chosen-weight5 {
  color: #545f71;
  text-align: center;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 22rem);
  top: 1166px;
  width: 742px;
}
.line-29 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.58);
  border-width: 1px 0 0 0;
  width: 1181px;
  height: 0px;
  position: absolute;
  left: 141px;
  top: 649px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-30 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 24px;
  height: 0px;
  position: absolute;
  left: 648px;
  top: 672px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-32 {
  margin-top: -4px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 4px 0 0 0;
  width: 200px;
  height: 0px;
  position: absolute;
  left: 648px;
  top: 649px;
}
.image-142 {
  width: 1047px;
  height: 394px;
  position: absolute;
  left: calc(50% - 31.7rem);
  top: 1797px;
  object-fit: cover;
}
.image-143 {
  width: 1203px;
  height: 257px;
  position: absolute;
  left: calc(50% - 36.7rem);
  top: 2297px;
  object-fit: cover;
}
.wf-drop-down {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 141px;
  position: absolute;
  left: 1277px;
  top: 12px;
}
.drop-down-base {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text-input {
  background: var(--wf-base-white, #ffffff);
  border-radius: 6px;
  border-style: solid;
  border-color: var(--wf-base-400, #cbd2e0);
  border-width: 2px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.label {
  padding: 12px 12px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.value {
  color: var(--wf-base-800, #2d3648);
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.divider {
  background: var(--wf-base-400, #cbd2e0);
  align-self: stretch;
  flex-shrink: 0;
  height: 2px;
  position: relative;
}
.drop-down-list {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.value2 {
  color: var(--wf-base-800, #2d3648);
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.image-161 {
  width: 29px;
  height: 26px;
  position: absolute;
  left: 1340px;
  top: 23px;
  object-fit: cover;
}
.background {
  background: var(--color-black-solid, #000000);
  width: 100%;
  height: 216px;
  position: absolute;
  top: 2687px;
}
.list {
  width: 1192px;
  position: absolute;
  left: calc(50% - 596px);
  bottom: 79.81px;
  top: 119px;
}
.group-1437255937 {
  position: absolute;
  inset: 0;
}
.item {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: var(--font-size-16, 16px);
  line-height: var(--line-height-208, 20.8px);
  font-weight: 400;
  opacity: 0.9;
  position: absolute;
  left: 195px;
  top: -46px;
  width: 111.06px;
  height: 20.8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item2 {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: var(--font-size-16, 16px);
  line-height: var(--line-height-208, 20.8px);
  font-weight: 400;
  opacity: 0.9;
  position: absolute;
  left: 337px;
  top: -46px;
  width: 145px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-2022-2199 {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: var(--font-size-16, 16px);
  line-height: var(--line-height-208, 20.8px);
  font-weight: 400;
  opacity: 0.9;
  position: absolute;
  left: 195px;
  top: -13px;
  width: 384px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-2022-21992 {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: var(--font-size-16, 16px);
  line-height: var(--line-height-208, 20.8px);
  font-weight: 400;
  opacity: 0.9;
  position: absolute;
  left: 585px;
  top: -13px;
  width: 384px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-02-465-5077 {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: var(--font-size-16, 16px);
  line-height: var(--line-height-208, 20.8px);
  font-weight: 400;
  opacity: 0.9;
  position: absolute;
  left: 513px;
  top: -45px;
  width: 166.6px;
  height: 20.8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-email-openmile-openmile-co-kr {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: var(--font-size-16, 16px);
  line-height: var(--line-height-208, 20.8px);
  font-weight: 400;
  opacity: 0.9;
  position: absolute;
  left: 711px;
  top: -45px;
  width: 234.6px;
  height: 20.8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-copyright-c-openmile-co-ltd-all-rights-reserved {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: var(--font-size-12, 12px);
  line-height: var(--line-height-156, 15.6px);
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.5;
  position: absolute;
  left: 195px;
  top: 30.79px;
  width: 328.08px;
  height: 15.6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list2 {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 72px;
  height: 88px;
  position: absolute;
  left: 1832px;
  bottom: 15.81px;
}
.group-33845 {
  position: absolute;
  inset: 0;
}
.h-3-heading-title-in-two-lines4 {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-font-family, "Inter-Bold", sans-serif);
  font-size: var(--h3-font-size, 24px);
  line-height: var(--h3-line-height, 30px);
  letter-spacing: var(--h3-letter-spacing, -0.02em);
  font-weight: var(--h3-font-weight, 700);
  position: absolute;
  left: 52px;
  top: 18px;
}
.h-3-heading-title-in-two-lines5 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 1146px;
  top: 22px;
}
.h-3-heading-title-in-two-lines6 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 1217px;
  top: 22px;
}
.h-3-heading-title-in-two-lines7 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 1072px;
  top: 22px;
}
.h-3-heading-title-in-two-lines8 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 989px;
  top: 22px;
}
.h-3-heading-title-in-two-lines9 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 916px;
  top: 22px;
}
.h-3-heading-title-in-two-lines10 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 845px;
  top: 22px;
}
.group-33812 {
  width: 94px;
  height: 162px;
  position: static;
}
.h-3-heading-title-in-two-lines11 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 613px;
  top: 22px;
}
.h-3-heading-title-in-two-lines12 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 609px;
  top: 70px;
  width: 94px;
}
.h-3-heading-title-in-two-lines13 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 609px;
  top: 112px;
  width: 94px;
}
.h-3-heading-title-in-two-lines14 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 609px;
  top: 154px;
  width: 94px;
}
.group-33813 {
  width: 95px;
  height: 162px;
  position: static;
}
.h-3-heading-title-in-two-lines15 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 736px;
  top: 22px;
}
.h-3-heading-title-in-two-lines16 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 725px;
  top: 70px;
  width: 94px;
}
.h-3-heading-title-in-two-lines17 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 725px;
  top: 112px;
  width: 94px;
}
.h-3-heading-title-in-two-lines18 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 726px;
  top: 154px;
  width: 94px;
}
.group-33846 {
  position: absolute;
  inset: 0;
}
.group-33811 {
  width: 94px;
  height: 204px;
  position: static;
}
.h-3-heading-title-in-two-lines19 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 509px;
  top: 22px;
}
.h-3-heading-title-in-two-lines20 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 491px;
  top: 70px;
  width: 94px;
}
.h-3-heading-title-in-two-lines21 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 491px;
  top: 112px;
  width: 94px;
}
.h-3-heading-title-in-two-lines22 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 491px;
  top: 154px;
  width: 94px;
}
.h-3-heading-title-in-two-lines23 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 491px;
  top: 196px;
  width: 94px;
}
