<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DADOL</title>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>

    <div class="element-light">
        
        <div class="overlap">
            <div class="main-open-png"></div>
            <div class="text-wrapper">누구에게나 열려있는 플랫폼에</div>
        </div>
        <div class="div">거리, 이동이라는</div>
        <div class="overlap-group">
            <div class="main-mile-png"></div>
            <div class="text-wrapper-2">의미를 더합니다.</div>
        </div>
        <div class="vertical-divider"></div>
        <p class="IT-IT">
            오픈마일은 오프라인을 기반으로 한 탁송과 물류 서비스를<br />IT기술을 통해 모두가 쉽고 투명한 모빌리티를 누릴 수
            있도록 노력합니다.<br />탁송·물류 전문가와 IT업계 최고의 전문가들이 모여<br />삶의 가능성을 확장시키는 미래의
            모빌리티를 제안합니다.
        </p>

    </div>

</body>
</html>