<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="openmile.css" />
</head>

<body>
    <div class="element-light">
        <div class="overlap">
            <div class="main-open-png"></div>
            <div class="text-wrapper">누구에게나 열려있는 플랫폼에</div>
        </div>
        <div class="div">거리, 이동이라는</div>
        <div class="overlap-group">
            <div class="main-mile-png"></div>
            <div class="text-wrapper-2">의미를 더합니다.</div>
        </div>
        <div class="vertical-divider"></div>
        <p class="IT-IT">
            오픈마일은 오프라인을 기반으로 한 탁송과 물류 서비스를<br />IT기술을 통해 모두가 쉽고 투명한 모빌리티를 누릴 수
            있도록 노력합니다.<br />탁송·물류 전문가와 IT업계 최고의 전문가들이 모여<br />삶의 가능성을 확장시키는 미래의
            모빌리티를 제안합니다.
        </p>
        <div class="background">
            <div class="overlap-group-2">
                <div class="text-wrapper-3">핵심가치</div>
                <div class="core-value">Core Value</div>
            </div>
            <div class="list">
                <div class="item">
                    <div class="background-2">
                        <div class="overlay"></div>
                        <p class="strong">
                            <span class="span">협력</span>
                            <span class="text-wrapper-4">&nbsp;</span>
                            <span class="text-wrapper-5">Collaboration</span>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="background-3">
                        <div class="overlay"></div>
                        <p class="strong">
                            <span class="span">공정</span>
                            <span class="text-wrapper-4">&nbsp;</span>
                            <span class="text-wrapper-5">Fairness</span>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="background-4">
                        <div class="overlay"></div>
                        <p class="strong">
                            <span class="span">신뢰</span>
                            <span class="text-wrapper-4">&nbsp;</span>
                            <span class="text-wrapper-5">Trust</span>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="background-5">
                        <div class="overlay"></div>
                        <p class="strong">
                            <span class="span">연결</span>
                            <span class="text-wrapper-4">&nbsp;</span>
                            <span class="text-wrapper-5">Hyperconnect</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="text-wrapper-6">OPENMILE CAR-SERVICE</div>
            <div class="text-wrapper-7">오픈마일 카서비스</div>
            <div class="horizontal-divider"></div>
            <p class="p">오픈마일은 다양한 서비스를 제공한 노하우를<br />활용해 차별화된 카서비스를 제공합니다.</p>
            <div class="link">
                <div class="text-wrapper-8">자세히보기</div>
                <div class="text-wrapper-8">+</div>
            </div>
            <img class="image" src="img/image-2.png" />
        </div>
        <div class="overlap-2">
            <div class="text-wrapper-9">서비스</div>
            <div class="service">Service</div>
        </div>
        <div class="list-2">
            <div class="item-link">
                <img class="SVG" src="img/SVG-3.svg" />
                <div class="text-wrapper-10">오픈마일 카서비스</div>
            </div>
            <div class="item-link-2">
                <img class="SVG" src="img/SVG-2.svg" />
                <div class="text-wrapper-11">오픈마일 로지스틱스</div>
            </div>
            <div class="item-link-3">
                <img class="SVG" src="img/SVG.svg" />
                <div class="text-wrapper-12">오픈마일 멤버스</div>
            </div>
        </div>
        <div class="overlap-3">
            <div class="list-wrapper">
                <div class="list-3">
                    <div class="item-link-4">
                        <div class="background-6"></div>
                        <div class="text-wrapper-13">공지사항</div>
                    </div>
                    <div class="item-link-5">
                        <div class="background-6"></div>
                        <div class="text-wrapper-13">언론보도</div>
                    </div>
                    <div class="item-link-6">
                        <div class="background-6"></div>
                        <div class="text-wrapper-13">문의하기</div>
                    </div>
                    <div class="item-link-7">
                        <div class="background-6"></div>
                        <div class="text-wrapper-13">오시는길</div>
                    </div>
                </div>
            </div>
            <div class="background-7">
                <div class="background-8">
                    <div class="list-4">
                        <div class="div-wrapper">
                            <div class="text-wrapper-14">회사소개</div>
                        </div>
                        <div class="item-link-8">
                            <div class="text-wrapper-15">개인정보처리방침</div>
                        </div>
                        <div class="item-link-9">
                            <div class="text-wrapper-16">이메일무단수집거부</div>
                        </div>
                    </div>
                    <div class="link-2">
                        <img class="icon" src="img/icon.svg" />
                        <div class="text-wrapper-17">TOP</div>
                    </div>
                </div>
                <div class="list-5">
                    <div class="item-2">오픈마일주식회사</div>
                    <p class="item-3">서울 광진구 능동로35길 22 로드윈빌딩 5층</p>
                    <div class="item-4">대표 : 박경현</div>
                    <div class="item-5">사업자등록번호 : 206-86-52226</div>
                    <p class="item-6">통신판매업 신고번호 : 제 2022-서울광진-2199 호</p>
                    <div class="item-7">대표전화 : 02-465-5077</div>
                    <div class="item-FAX">FAX : 02-2201-5077</div>
                    <div class="item-email-openmile">Email : openmile@openmile.co.kr</div>
                    <p class="item-COPYRIGHT-c">COPYRIGHT(C) OPENMILE CO.,LTD.. ALL RIGHTS RESERVED.</p>
                </div>
                <div class="link-3">
                    <div class="text-wrapper-18">관련사이트</div>
                    <img class="img" src="img/image.svg" />
                </div>
                <div class="item-link-wrapper">
                    <div class="item-link-10">
                        <img class="img" src="img/icon-2.svg" />
                        <div class="text-wrapper-19">TOP</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlap-4">
            <div class="image-wrapper"><img class="overlap-4" src="img/image.png" /></div>
            <div class="container-2">
                <div class="text-wrapper-20">모두가 누리는<br />쉽고 투명한 모빌리티</div>
            </div>
            <p class="text-wrapper-21">공정한 가치로 세상을 이롭게 합니다.</p>
            <div class="button-go-to-slide"></div>
            <div class="button-go-to-slide-2"></div>
            <div class="button-go-to-slide-3"></div>
        </div>
        <div class="background-shadow">
            <div class="horizontal-divider-2"></div>
            <div class="container-3">
                <div class="heading-link">
                    <div class="logo-png"></div>
                </div>
                <div class="list-6">
                    <div class="link-wrapper">
                        <div class="link-4">
                            <div class="text-wrapper-22">회사소개</div>
                        </div>
                    </div>
                    <div class="link-wrapper">
                        <div class="link-4">
                            <div class="text-wrapper-22">서비스</div>
                        </div>
                    </div>
                    <div class="link-wrapper">
                        <div class="link-4">
                            <div class="text-wrapper-22">뉴스센터</div>
                        </div>
                    </div>
                    <div class="link-wrapper">
                        <div class="link-4">
                            <div class="text-wrapper-22">문의하기</div>
                        </div>
                    </div>
                </div>
                <img class="link-5" src="img/link.svg" />
            </div>
        </div>
    </div>
</body>

</html>