.group-1437255950,
.group-1437255950 * {
  box-sizing: border-box;
}
.group-1437255950 {
  height: 2040px;
  position: relative;
}
.pcb {
  width: 390px;
  height: 2040px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.pcb2 {
  background: #ffffff;
  width: 390px;
  height: 2040px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.mother-board-5365333-1280-1 {
  width: 390px;
  height: 246px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.frame-4545 {
  width: 375px;
  height: 20px;
  position: absolute;
  left: 7px;
  top: 62px;
  overflow: hidden;
}
.h-3-heading-title-in-two-lines {
  color: #ffffff;
  text-align: center;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 111px;
  top: 119px;
  width: 168px;
  height: 35px;
}
.most-fonts-have-a-particular-weight-which-corresponds-to-one-of-the-numbers-in-common-weight-name-mapping-however-some-fonts-called-variable-fonts-can-support-a-range-of-weights-with-a-more-or-less-fine-granularity-and-this-can-give-the-designer-a-much-closer-degree-of-control-over-the-chosen-weight {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: absolute;
  left: 147px;
  top: 256px;
  width: 96px;
}
.h-3-heading-title-in-two-lines2 {
  color: var(--primary, #545f71);
  text-align: center;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 170px;
  top: 300px;
}
.h-3-heading-title-in-two-lines3 {
  color: var(--primary, #545f71);
  text-align: center;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 99px;
  top: 515px;
}
.h-3-heading-title-in-two-lines4 {
  color: var(--primary, #545f71);
  text-align: center;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 113px;
  top: 719px;
}
.h-3-heading-title-in-two-lines5 {
  color: var(--primary, #545f71);
  text-align: center;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 111px;
  top: 1072px;
}
.image-158 {
  width: 300px;
  height: 275.07px;
  position: absolute;
  left: 45px;
  top: 1105px;
  object-fit: cover;
}
.image-159 {
  width: 300px;
  height: 275.07px;
  position: absolute;
  left: 45px;
  top: 1411px;
  object-fit: cover;
}
.group-33801 {
  position: absolute;
  inset: 0;
}
.rectangle-8976 {
  width: 390px;
  height: 234px;
  position: absolute;
  left: 0px;
  top: 1806px;
  overflow: visible;
}
.most-fonts-have-a-particular-weight-which-corresponds-to-one-of-the-numbers-in-common-weight-name-mapping-however-some-fonts-called-variable-fonts-can-support-a-range-of-weights-with-a-more-or-less-fine-granularity-and-this-can-give-the-designer-a-much-closer-degree-of-control-over-the-chosen-weight2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: absolute;
  left: 29.14px;
  top: 1864px;
  width: 332.71px;
  height: 146px;
}
.h-3-heading-title-in-two-lines6 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 29px;
  top: 1827px;
  width: 100px;
}
.frame-1437256019 {
  width: 390px;
  height: 33px;
  position: absolute;
  left: calc(50% - 195px);
  top: 0px;
  overflow: hidden;
}
.group-1771 {
  position: absolute;
  inset: 0;
}
.h-3-heading-title-in-two-lines7 {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 10px;
  top: 6px;
  width: 88px;
  height: 30px;
}
.menu {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 340px;
  top: 9px;
  overflow: visible;
}
.div {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 19px;
  top: 335px;
  width: 350px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div2 {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 19px;
  top: 854px;
  width: 350px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div3 {
  color: #000000;
  text-align: center;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 19px;
  top: 535px;
  width: 350px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-162 {
  width: 313.45px;
  height: 125px;
  position: absolute;
  left: 38px;
  top: 750px;
  object-fit: cover;
}
.most-fonts-have-a-particular-weight-which-corresponds-to-one-of-the-numbers-in-common-weight-name-mapping-however-some-fonts-called-variable-fonts-can-support-a-range-of-weights-with-a-more-or-less-fine-granularity-and-this-can-give-the-designer-a-much-closer-degree-of-control-over-the-chosen-weight3 {
  color: #ffffff;
  text-align: center;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  left: 35px;
  top: 159px;
  width: 319px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
