.b-2-b,
.b-2-b * {
  box-sizing: border-box;
}

.b-2-b {
  height: 74.5625rem;
  position: relative;
}

.b-2-b2 {
  background: #ffffff;
  width: 100%;
  height: 74.5625rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  overflow: hidden;
}

.image-131 {
  width: 100%;
  height: 19rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  object-fit: cover;
}

.rectangle-8974 {
  width: 100%;
  height: 14.625rem;
  position: absolute;
  left: 0rem;
  top: 59.9375rem;
  overflow: visible;
  background-color: black;
}

.most-fonts-have-a-particular-weight-which-corresponds-to-one-of-the-numbers-in-common-weight-name-mapping-however-some-fonts-called-variable-fonts-can-support-a-range-of-weights-with-a-more-or-less-fine-granularity-and-this-can-give-the-designer-a-much-closer-degree-of-control-over-the-chosen-weight {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: absolute;
  left: 1.75rem;
  top: 63.5625rem;
  width: 20.6875rem;
  height: 9.125rem;
}

.group-1771 {
  position: absolute;
  inset: 0;
}

.h-3-heading-title-in-two-lines {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 1.5rem;
  line-height: 1.875rem;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 1.75rem;
  top: 0.8125rem;
  width: 5.5rem;
  height: 1.875rem;
}

.menu {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: calc(50% - -10.3rem);
  top: 1rem;
  overflow: visible;
}

.frame-4545 {
  width: 23.4375rem;
  height: 1.25rem;
  position: absolute;
  left: 0.4375rem;
  top: 3.875rem;
  overflow: hidden;
}

.most-fonts-have-a-particular-weight-which-corresponds-to-one-of-the-numbers-in-common-weight-name-mapping-however-some-fonts-called-variable-fonts-can-support-a-range-of-weights-with-a-more-or-less-fine-granularity-and-this-can-give-the-designer-a-much-closer-degree-of-control-over-the-chosen-weight2 {
  color: #ffffff;
  text-align: center;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 1.25rem;
  line-height: 1.375rem;
  letter-spacing: -0.02em;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 3rem);
  top: 14.9375rem;
  width: 6rem;
}

.h-3-heading-title-in-two-lines2 {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 1.5625rem;
  line-height: 1.875rem;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 5rem);
  top: 12.75rem;
  width: 10.8125rem;
  height: 2.1875rem;
}

.main-title {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 1.5625rem;
  line-height: 1.875rem;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 8.125rem;
  top: 12.75rem;
  width: 8.8125rem;
  height: 2.1875rem;
}

.h-3-heading-title-in-two-lines3 {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 1.25rem;
  line-height: 1.875rem;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 1.75rem;
  top: 61.25rem;
}

.image-141 {
  width: 100%;
  height: 15.9375rem;
  position: absolute;
  left: 0rem;
  top: 19rem;
  object-fit: cover;
}

.most-fonts-have-a-particular-weight-which-corresponds-to-one-of-the-numbers-in-common-weight-name-mapping-however-some-fonts-called-variable-fonts-can-support-a-range-of-weights-with-a-more-or-less-fine-granularity-and-this-can-give-the-designer-a-much-closer-degree-of-control-over-the-chosen-weight3 {
  color: #545f71;
  text-align: center;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 7.5rem);
  top: 26.875rem;
  width: 15.1875rem;
}

.h-3-heading-title-in-two-lines4 {
  color: #545f71;
  text-align: center;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 1.5rem;
  line-height: 1.875rem;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 5rem);
  top: 23.8125rem;
  width: 10.25rem;
}

.most-fonts-have-a-particular-weight-which-corresponds-to-one-of-the-numbers-in-common-weight-name-mapping-however-some-fonts-called-variable-fonts-can-support-a-range-of-weights-with-a-more-or-less-fine-granularity-and-this-can-give-the-designer-a-much-closer-degree-of-control-over-the-chosen-weight4 {
  color: var(--primary, #545f71);
  text-align: center;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 9.5rem);
  top: 40.0625rem;
  width: 18.6875rem;
}

.h-3-heading-title-in-two-lines5 {
  color: var(--primary, #545f71);
  text-align: left;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 1.5rem;
  line-height: 1.875rem;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 6rem);
  top: 37.5rem;
}

.image-142 {
  width: 18.5275rem;
  height: 6.72375rem;
  position: absolute;
  left: calc(50% - 9rem);
  top: 42.375rem;
  transform-origin: 0 0;
  transform: rotate(0.1deg) scale(1, 1);
  object-fit: cover;
}

.image-143 {
  width: 20.5rem;
  height: 4.375rem;
  position: absolute;
  left: calc(50% - 10rem);
  top: 51.375rem;
  object-fit: cover;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1000;
  background-color: transparent;
  /* 기본 배경색을 투명으로 설정 */
  transition: ba-color 0.3s ease;
  /* 배경색 전환 효과 */
}

header:hover,
nav ul li:hover~header {
  background-color: white;
  /* 헤더 배경색을 흰색으로 변경 */
}

header:hover a,
header:hover nav ul .dropdown a,
/* 드롭다운 a 태그도 검은색으로 변경 */
header:hover .logo,
nav ul li:hover~header a,
nav ul li:hover~header nav ul .dropdown a,
nav ul li:hover~header .logo {
  color: black;
  /* 헤더에 마우스를 올렸을 때 모든 a 태그의 폰트 색상을 검은색으로 변경 */
}


.logo {
  font-family: 'Pretendard';
  position: absolute;
  left: 0;
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin-left: 3rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin-right: 10px;
}

nav ul .dropdown {
  margin-left: 4rem;
}

.dropdown:hover header {
  background-color: #fff;
  /* 헤더 배경색 흰색으로 변경 */
}

.nodropdown {
  margin-left: 4rem;
}

.nodropdown a {
  font-family: 'Pretendard';
  color: white;
  text-decoration: none;
  font-weight: 600;
}

nav ul .dropdown a {
  font-family: 'pretendard';
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

nav .dropdown .submenu-company-introduction {
  display: none;
  position: absolute;
  top: 40px;
  transform: translateX(-33%);
  text-align: center;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px 0;
  white-space: nowrap;
  width: 10rem;
}

.dropdown:hover .submenu-company-introduction {
  display: block;
}

.submenu-company-introduction li {
  width: 100%;
}

.submenu-company-introduction li a {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  transition: background 0.3s;
}

.dropdown .submenu-carcare-service {
  display: none;
  position: absolute;
  top: 40px;
  transform: translateX(-24%);
  text-align: center;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px 0;
  white-space: nowrap;
  width: 10rem;
}

.dropdown:hover .submenu-carcare-service {
  display: block;
}

.submenu-carcare-service li {
  width: 100%;
}

.submenu-carcare-service li a {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  transition: background 0.3s;
}

.dropdown .submenu-product-service {
  display: none;
  position: absolute;
  top: 40px;
  transform: translateX(-28%);
  text-align: center;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px 0;
  white-space: nowrap;
  width: 10rem;
}

.dropdown:hover .submenu-product-service {
  display: block;
}

.submenu-product-service li {
  width: 100%;
}

.submenu-product-service li a {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  transition: background 0.3s;
}

.dropdown .submenu-language {
  display: none;
  position: absolute;
  top: 40px;
  transform: translateX(-27%);
  text-align: center;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px 0;
  white-space: nowrap;
}

.dropdown:hover .submenu-language {
  display: block;
}

.submenu-language li {
  width: 100%;
}

.submenu-language li a {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  transition: background 0.3s;
}

header nav ul .submenu-company-introduction li a,
header nav ul .submenu-carcare-service li a,
header nav ul .submenu-product-service li a,
header nav ul .submenu-language li a {
  color: #333;
  /* 드롭다운 링크 색상 */
}

header nav ul .submenu-company-introduction li a:hover,
header nav ul .submenu-carcare-service li a:hover,
header nav ul .submenu-product-service li a:hover,
header nav ul .submenu-language li a:hover {
  color: #007BFF;
  /* 드롭다운 링크 호버 색상 변경 */
}

.hamburger {
  display: none;
  /* 기본 상태에서는 숨김 */
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1001;
}

/* 스크롤 시 헤더 스타일 (배경색 흰색) */
.header.scrolled {
  background-color: white;
  /* 스크롤 시 배경색 흰색 */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* 살짝 그림자 */
  color: black;
  /* 로고 및 텍스트 색상 */
}

/* 스크롤된 상태에서 링크 색상 변경 */
.header.scrolled nav ul li a {
  color: black;
  /* 스크롤 후 텍스트 색상 변경 */
}

/* 반응형 스타일 추가 */
@media (max-width: 1300px) {
  .logo {
    margin-left: 20px;
  }

  nav ul {
    margin-right: 20px;
  }

  nav ul .dropdown {
    margin-left: 20px;
    white-space: nowrap;
  }

  .nodropdown {
    margin-left: 20px;
    white-space: nowrap;
  }

  .hero-text h1 {
    font-size: 36px;
  }

  .hero-text p {
    font-size: 16px;
  }

}

@media (max-width: 850px) {

  html,
  body {
    overflow-x: hidden;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: centers;
    padding: 10px;
  }

  .logo {
    top: 10px;
    margin-left: 20px;
  }

  nav ul {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;

    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 1rem;
    margin-left: 0.5rem;
  }

  nav ul li {
    margin-left: 0;
    margin-top: 1rem;
  }

  .hamburger {
    display: block;
  }

  header:hover nav ul {
    display: flex;
    /* 메뉴를 보이게 하면서 Flexbox로 정렬 */
  }

  .hero {
    height: 80vh;
  }

  .hero-text h1 {
    font-size: 28px;
  }

  .hero-text p {
    font-size: 14px;
  }
}

a:visited {
  color: inherit;
  /* 원하는 색상으로 지정하거나, 기존 색상을 유지하려면 inherit 사용 */
  text-decoration: none;
  /* 링크가 변하지 않도록 텍스트 장식도 없앰 */
}